dsl/Error_Analyzer_WF.yml
app:
  description: This workflow address user query related to PC inspection. It takes
    in error and retrieve the instruction from 04_annual inspection file and also
    provide solution related to FAQ. This workflow is design for D-11 use-case.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Error_Analyzer_WF
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.4@5faf411e694e0da130a337347a625a3812b1b7502a0183382d66d92c841bf05a
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1777870378982-source-1777870417080-target
      source: '1777870378982'
      sourceHandle: source
      target: '1777870417080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1777870417080-true-1777870568152-target
      source: '1777870417080'
      sourceHandle: 'true'
      target: '1777870568152'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1777870568152-source-1777870635632-target
      source: '1777870568152'
      sourceHandle: source
      target: '1777870635632'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1777870417080-false-1777871350853-target
      source: '1777870417080'
      sourceHandle: 'false'
      target: '1777871350853'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1777871350853-source-1777873381510-target
      source: '1777871350853'
      sourceHandle: source
      target: '1777873381510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1777870635632-source-1777871329518-target
      source: '1777870635632'
      sourceHandle: source
      target: '1777871329518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1777873381510-source-1777873877290-target
      source: '1777873381510'
      sourceHandle: source
      target: '1777873877290'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: 1777870417080-158eae75-349b-4408-8caa-85d0bd5a8b35-1778220249206-target
      source: '1777870417080'
      sourceHandle: 158eae75-349b-4408-8caa-85d0bd5a8b35
      target: '1778220249206'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1778220249206-true-1778220163456-target
      source: '1778220249206'
      sourceHandle: 'true'
      target: '1778220163456'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: template-transform
      id: 1778220249206-false-1778220188462-target
      source: '1778220249206'
      sourceHandle: 'false'
      target: '1778220188462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1778220163456-source-1778220416718-target
      source: '1778220163456'
      sourceHandle: source
      target: '1778220416718'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1778220188462-source-1778220435270-target
      source: '1778220188462'
      sourceHandle: source
      target: '1778220435270'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: user_input
          max_length: 1000
          options: []
          required: true
          type: paragraph
          variable: user_input
        - label: is_follow_up
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: is_follow_up
        - label: preferred_lang
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: preferred_lang
        - label: instruction_history
          max_length: 10000000
          options: []
          required: false
          type: paragraph
          variable: instruction_history
      height: 167
      id: '1777870378982'
      position:
        x: 84.4296811317272
        y: 206
      positionAbsolute:
        x: 84.4296811317272
        y: 206
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 17d26753-41f8-41ea-b957-b227b7b34ebb
            value: ''
            varType: string
            variable_selector:
            - '1777870378982'
            - user_input
          - comparison_operator: is
            id: f4e29674-4189-4b8b-86e7-321184c34fe8
            value: 'NO'
            varType: string
            variable_selector:
            - '1777870378982'
            - is_follow_up
          id: 'true'
          logical_operator: and
        - case_id: 158eae75-349b-4408-8caa-85d0bd5a8b35
          conditions:
          - comparison_operator: is
            id: 04841167-70cc-47bc-8e64-084271d6084a
            value: Rectify Errors Manually
            varType: string
            variable_selector:
            - '1777870378982'
            - user_input
          - comparison_operator: is
            id: 537ccbc4-2e59-4189-b791-c22de8cf311f
            value: エラーを手動で修正する
            varType: string
            variable_selector:
            - '1777870378982'
            - user_input
          id: 158eae75-349b-4408-8caa-85d0bd5a8b35
          logical_operator: or
        desc: This node routes the user query to either LLM_error node or LLM_FAQ
          node based on nature of query.
        selected: false
        title: error_gate.
        type: if-else
      height: 285
      id: '1777870417080'
      position:
        x: 413.3015448920304
        y: 206
      positionAbsolute:
        x: 413.3015448920304
        y: 206
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - qtEcYSr1aR9FY4d07YeAHxcceY0FgspBr9l6jPld0KqdimLWa6jPxrPp1ETD/+hU
        desc: This KB stores 04_inspection data which contains error and corresponding
          solutions.
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 1
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
        query_variable_selector:
        - '1777870378982'
        - user_input
        retrieval_mode: multiple
        selected: false
        title: KB_04_Inspection_Resolution
        type: knowledge-retrieval
      height: 151
      id: '1777870568152'
      position:
        x: 750.8960447292907
        y: 73.38576844236766
      positionAbsolute:
        x: 750.8960447292907
        y: 73.38576844236766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1777870568152'
          - result
        desc: This node receives the user input as error and take the context from
          the Error_kb  and response in professional tone.
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 73e53282-031c-44a4-9f48-ddc140686466
          role: system
          text: "You are a PC Inspection Support Specialist, your sole purpose is\
            \ to provide technical solutions for PC Inspection errors based exclusively\
            \ on the provided Solutions KB (Knowledge Base).\n\n# KB context : {{#context#}}\n\
            \n## Guidelines:\n- Deliver clear, actionable, and professional solutions.\
            \ Use numbered lists for multi-step instructions.\n- Strictly limited\
            \ to PC Inspection topics based on context if available. Do not add any\
            \ general information. Avoids any other topics and request the user to\
            \ ask PC error related queries only.\n- Use only the provided context.\
            \ Do not supplement with general technical knowledge, outside information,\
            \ or assumptions or context.\n\n## Mandatory Response Templates *\n- For\
            \ Non-PC Inspection Queries: > \"It looks like your query is non-PC Inspection.\
            \ I am only authorized to assist with queries related to PC Inspection.\
            \ Please let me know if you have a question regarding that process.\"\
            \ \n- For Email/Drafting Requests:  > \"I am only authorized to assist\
            \ with queries related to PC Inspection; I cannot draft mail for you.\
            \ Thank you for using our services.\"\n\n## Always respond in the user's\
            \ preferred language: {{#1777870378982.preferred_lang#}}{en: English,\
            \ jp: 日本語}\n## Follow-up Requirement : Only when you have provided information\
            \ from the Error History related to the instruction of errors, you must\
            \ ask the user the following in their preferred language > Do you want\
            \ to rectify the errors manually or draft an email for the client?"
        - id: 177bb0aa-8358-4486-a779-fff3d963d333
          role: user
          text: '{{#1777870378982.user_input#}}'
        selected: false
        title: LLM_ERROR
        type: llm
        variables: []
        vision:
          enabled: false
      height: 165
      id: '1777870635632'
      position:
        x: 1035.950301488488
        y: 73.38576844236766
      positionAbsolute:
        x: 1035.950301488488
        y: 73.38576844236766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777870635632'
          - text
          value_type: string
          variable: text
        selected: false
        title: Display Error solution
        type: end
      height: 90
      id: '1777871329518'
      position:
        x: 1339.950301488488
        y: 73.38576844236766
      positionAbsolute:
        x: 1339.950301488488
        y: 73.38576844236766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - LuZFOEfoIz1d1XBE4pXdO23uRN5Lw/MyRXWzpX6Q49TePdpPeEI3syT/jZZEt1xK
        desc: This KB stores 07_FAQ data which contains Frequently Asked Questions
          and corresponding solutions.
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: gemini-embedding-001
              embedding_provider_name: langgenius/gemini/google
              vector_weight: 0.7
        query_variable_selector:
        - '1777870378982'
        - user_input
        retrieval_mode: multiple
        selected: false
        title: KB_FAQ
        type: knowledge-retrieval
      height: 151
      id: '1777871350853'
      position:
        x: 744.702923501314
        y: 470.1868911337964
      positionAbsolute:
        x: 744.702923501314
        y: 470.1868911337964
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1777871350853'
          - result
        desc: This node receives the user input as FAQ and take the context from the
          FAQ-KB and response in professional tone.
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-pro
          provider: langgenius/gemini/google
        prompt_template:
        - id: 8073fb00-8cb6-4388-93be-2e5322582cdc
          role: system
          text: "You are a specialized PC Inspection Assistant. Your sole purpose\
            \ is to provide clear, actionable, and professional solutions based strictly\
            \ on provided PC Inspection FAQs context and error history by interacting\
            \ with user.\n\n# context : {{#context#}}\n\n## Strict Operational Rules\n\
            - Scope Restriction: Assist ONLY with PC Inspection topics and error-related\
            \ queries. Do not provide general information or discuss any other topics.\n\
            - Context Adherence: Use only the provided context. Do not add outside\
            \ information or general technical knowledge. \n- Information Hierarchy:\
            \ If FAQ context is unavailable, rely strictly on the Error History provided.\
            \ Do not invent solutions.\n- Error Rectification : If user request for\
            \ any error ratification and provide to add or modify the previous instruction\
            \ do not stick to context, update and return the new updated instructions\
            \ as per user's request.\n- Out-of-Scope Handling: If a query is unrelated\
            \ to PC Inspection or errors, respond with:\n   > \"It looks like your\
            \ query is non-PC Inspection. I am only authorized to assist with queries\
            \ related to PC Inspection. Please let me know if you have a question\
            \ regarding that process.\"\n- Mail Draft Restriction: If a user requests\
            \ an email draft, respond with:\n   > \"I am only authorized to assist\
            \ with queries related to PC Inspection; I cannot draft mail for you.\
            \ Thank you for using our services.\"\n\n## Always respond in the user's\
            \ preferred language: {{#1777870378982.preferred_lang#}}{en: English,\
            \ jp: 日本語}\n## Follow-up Requirement : Only when you have provided information\
            \ from the Error History related to the instruction of errors, you must\
            \ ask the user the following in their preferred language > Do you want\
            \ to rectify the errors manually or draft an email for the client?"
        - id: abbdf325-98d0-4501-9c66-4633c64b9626
          role: user
          text: 'user input : {{#1777870378982.user_input#}}

            error history : {{#1777870378982.instruction_history#}}

            user preferred langauge : {{#1777870378982.preferred_lang#}}'
        selected: false
        title: LLM_FAQ
        type: llm
        variables: []
        vision:
          enabled: false
      height: 149
      id: '1777873381510'
      position:
        x: 1035.950301488488
        y: 470.1868911337964
      positionAbsolute:
        x: 1035.950301488488
        y: 470.1868911337964
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777873381510'
          - text
          value_type: string
          variable: text
        selected: false
        title: Display FAQ output
        type: end
      height: 90
      id: '1777873877290'
      position:
        x: 1339.950301488488
        y: 470.1868911337964
      positionAbsolute:
        x: 1339.950301488488
        y: 470.1868911337964
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This template contains English version of button for next client selection.
        selected: false
        template: "Thank you for the notification, I will leave that manual resolution\
          \ to you. Would you like to continue with the next client?\r\n\r\n1. <button\
          \ type=\"button\" data-message=\"NEXT CLIENT\">YES</button>\r\n2. <button\
          \ type=\"button\" data-message=\"CLOSE SESSION\">NO</button>"
        title: template_english_button
        type: template-transform
        variables: []
      height: 97
      id: '1778220163456'
      position:
        x: 1035.950301488488
        y: 256.149947896772
      positionAbsolute:
        x: 1035.950301488488
        y: 256.149947896772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: This template contains English version of button for next client selection.
        selected: false
        template: "ご連絡ありがとうございます。手動での解決はお任せします。次のクライアントの対応に移りますか？\r\n\r\n1. <button\
          \ type=\"button\" data-message=\"次のクライアント\">はい</button>\r\n2. <button type=\"\
          button\" data-message=\"セッションを閉じる\">いいえ</button>"
        title: template_japanese_button
        type: template-transform
        variables: []
      height: 97
      id: '1778220188462'
      position:
        x: 1035.950301488488
        y: 367.6261300003535
      positionAbsolute:
        x: 1035.950301488488
        y: 367.6261300003535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 611e5647-5869-4c7e-a216-9f33d75d8ef5
            value: en
            varType: string
            variable_selector:
            - '1777870378982'
            - preferred_lang
          id: 'true'
          logical_operator: and
        desc: This node route the user query to the respective template based on user's
          preferred language.
        selected: false
        title: Template_gate
        type: if-else
      height: 185
      id: '1778220249206'
      position:
        x: 744.702923501314
        y: 265.43962973873704
      positionAbsolute:
        x: 744.702923501314
        y: 265.43962973873704
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1778220163456'
          - output
          value_type: string
          variable: output
        selected: false
        title: display_button_en
        type: end
      height: 90
      id: '1778220416718'
      position:
        x: 1339.950301488488
        y: 256.149947896772
      positionAbsolute:
        x: 1339.950301488488
        y: 256.149947896772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1778220188462'
          - output
          value_type: string
          variable: output
        selected: false
        title: display_button_jp
        type: end
      height: 90
      id: '1778220435270'
      position:
        x: 1339.950301488488
        y: 367.6261300003535
      positionAbsolute:
        x: 1339.950301488488
        y: 367.6261300003535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -180.37856568383972
      y: -7.586862456759121
      zoom: 0.741918856558413
