dsl/Export_file.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Export_file
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1777440360645-source-1777440364826-target
      source: '1777440360645'
      sourceHandle: source
      target: '1777440364826'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777440364826-source-1777440727307-target
      source: '1777440364826'
      sourceHandle: source
      target: '1777440727307'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1777440360645'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main():\n    CRON_CONFIG = {\n        \"schedules\"\
          : [\n            {\"expression\": \"0 2 * * *\", \"label\": \"nightly_02_utc\"\
          },\n            {\"expression\": \"0 14 * * *\", \"label\": \"afternoon_14_utc\"\
          },\n        ],\n        \"timezone\": \"UTC\",\n        \"max_retries\"\
          : 3,\n        \"retry_delay_seconds\": 60,\n        \"timeout_seconds\"\
          : 120,\n        \"notify_on_failure\": True,\n        \"skip_if_no_change\"\
          : True,\n    }\n\n    cron_config_json = json.dumps(CRON_CONFIG, indent=2)\n\
          \    schedule_count = len(CRON_CONFIG[\"schedules\"])\n    schedule_labels\
          \ = \", \".join(s[\"label\"] for s in CRON_CONFIG[\"schedules\"])\n    schedule_exprs\
          \ = \", \".join(s[\"expression\"] for s in CRON_CONFIG[\"schedules\"])\n\
          \n    return {\n        \"cron_config_json\": cron_config_json,\n      \
          \  \"schedule_count\": schedule_count,\n        \"schedule_labels\": schedule_labels,\n\
          \        \"schedule_exprs\": schedule_exprs\n    }"
        code_language: python3
        desc: ''
        outputs:
          cron_config_json:
            children: null
            type: string
          schedule_count:
            children: null
            type: number
          schedule_exprs:
            children: null
            type: string
          schedule_labels:
            children: null
            type: string
        selected: false
        title: Code
        type: code
        variables: []
      height: 53
      id: '1777440364826'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1777440364826'
          - cron_config_json
          value_type: string
          variable: cron_config_json
        - value_selector:
          - '1777440364826'
          - schedule_count
          value_type: number
          variable: schedule_count
        selected: false
        title: End
        type: end
      height: 116
      id: '1777440727307'
      position:
        x: 790
        y: 282
      positionAbsolute:
        x: 790
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -33
      y: -122.5
      zoom: 1
