dsl/Graph_Data_Extractor.yml
app:
  description: 'Upload any file (PDF, image, DOCX, XLSX, PPTX) containing charts or
    graphs. The workflow detects every graph, extracts the raw data with strict anti-hallucination
    controls, and returns a verified markdown report. No user question is required
    — just drop the file.

    '
  icon: 📊
  icon_background: '#E6F1FB'
  mode: workflow
  name: Graph Data Extractor
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      - .PDF
      - .DOCX
      - .XLSX
      - .PPTX
      - .CSV
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: node-start-source-1778134599931-target
      source: node-start
      sourceHandle: source
      target: '1778134599931'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: node-output-template-source-1778134631040-target
      source: node-output-template
      sourceHandle: source
      target: '1778134631040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1778134599931-source-node-ocr-parser-target
      source: '1778134599931'
      sourceHandle: source
      target: node-ocr-parser
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: template-transform
      id: node-ocr-parser-source-node-output-template-target
      source: node-ocr-parser
      sourceHandle: source
      target: node-output-template
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Workflow entry point. The caller supplies one file. No free-text question
          is required.
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          label: input_file
          max_length: 5
          options: []
          required: true
          type: file-list
          variable: input_file
      height: 150
      id: node-start
      position:
        x: 537.6222651144641
        y: 81.54733627877897
      positionAbsolute:
        x: 537.6222651144641
        y: 81.54733627877897
      selected: false
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Upload file
            ja_JP: Upload file
            pt_BR: Upload file
            zh_Hans: Upload file
          label:
            en_US: select_file
            ja_JP: select_file
            pt_BR: select_file
            zh_Hans: select_file
          llm_description: Upload file
          max: null
          min: null
          name: select_file
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: files
        params:
          select_file: ''
        provider_id: 2a48d915-5f63-4cae-bf06-298eb218edc6
        provider_name: OCR Summarizer
        provider_type: workflow
        selected: true
        title: OCR Summarizer
        tool_configurations: {}
        tool_description: 'Multi-format file reader. PDF, OCR images, Excel, TXT,
          DOC/DOCX, CSV. English and Japanese. File validation: empty, zip disguised,
          compressed formats blocked.'
        tool_label: OCR Summarizer
        tool_name: ocr_wf
        tool_node_version: '2'
        tool_parameters:
          select_file:
            type: variable
            value:
            - node-start
            - input_file
        type: tool
      height: 54
      id: '1778134599931'
      position:
        x: 841.6
        y: 81.54733627877897
      positionAbsolute:
        x: 841.6
        y: 81.54733627877897
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json, re\n\ndef parse_charts(clean_text):\n    \"\"\"Parse OCR\
          \ output into a list of chart dicts.\"\"\"\n    charts = []\n    blocks\
          \ = re.split(r\"\\s*\\u25b8 Image #\\d+\", clean_text)\n    for block in\
          \ blocks[1:]:\n        chart = {}\n        header_line = block.strip().split(\"\
          \\n\")[0]\n        page_m = re.search(r\"Page (\\d+)\", header_line)\n \
          \       type_m = re.search(r\"\\|\\s*(\\w+)\\s*$\", header_line)\n     \
          \   chart[\"page\"]       = page_m.group(1) if page_m else \"?\"\n     \
          \   chart[\"image_type\"] = type_m.group(1).strip() if type_m else \"UNKNOWN\"\
          \n\n        def field(label):\n            m = re.search(\n            \
          \    rf\"{label}\\s*:\\s*(.+?)(?=\\n\\s{{4,}}\\w|\\n\\s*\\u25b8|\\Z)\",\n\
          \                block, re.DOTALL\n            )\n            return m.group(1).strip()\
          \ if m else \"\"\n\n        chart[\"subject\"]     = field(\"Subject\")\n\
          \        chart[\"name\"]        = field(\"Name\")\n        chart[\"description\"\
          ] = field(\"Description\")\n        chart[\"sentiment\"]   = field(\"Sentiment\"\
          )\n        chart[\"tags\"]        = field(\"Tags\")\n\n        ins_m = re.search(\n\
          \            r\"Insights\\s*:\\s*\\n(.*?)(?=\\n\\s{4}\\w|\\n\\s*\\u25b8|\\\
          Z)\",\n            block, re.DOTALL\n        )\n        chart[\"insights\"\
          ] = re.findall(r\"•\\s*(.+)\", ins_m.group(1)) if ins_m else []\n\n    \
          \    ti_m = re.search(\n            r\"Text Inside\\s*:\\s*\\n?(.*?)(?=\\\
          n\\s{4}\\w|\\n\\s*\\u25b8|\\Z)\",\n            block, re.DOTALL\n      \
          \  )\n        raw_ti = ti_m.group(1).strip() if ti_m else \"\"\n       \
          \ chart[\"text_inside\"] = \" | \".join(\n            line.strip() for line\
          \ in raw_ti.splitlines() if line.strip()\n        )\n        charts.append(chart)\n\
          \    return charts\n\ndef build_table(charts):\n    \"\"\"Build a markdown\
          \ table from parsed charts.\"\"\"\n    if not charts:\n        return \"\
          > No charts detected in this document.\"\n\n    lines = []\n\n    # ── Summary\
          \ table ───────────────────────────────────────\n    lines.append(\"## Charts\
          \ detected\")\n    lines.append(\"\")\n    lines.append(\"| # | Page | Type\
          \ | Chart name |\")\n    lines.append(\"|---|------|------|------------|\"\
          )\n    for i, c in enumerate(charts, 1):\n        chart_type = c[\"subject\"\
          ].split(\"–\")[0].strip() if \"–\" in c[\"subject\"] else c[\"image_type\"\
          ]\n        name       = c[\"name\"] if c[\"name\"] else c[\"subject\"]\n\
          \        lines.append(f\"| {i} | {c['page']} | {chart_type} | {name} |\"\
          )\n\n    # ── Per-chart detail table ──────────────────────────────\n  \
          \  lines.append(\"\")\n    lines.append(\"---\")\n    lines.append(\"\"\
          )\n    lines.append(\"## Chart details\")\n    lines.append(\"\")\n\n  \
          \  for i, c in enumerate(charts, 1):\n        lines.append(f\"### Chart\
          \ {i} — {c['subject']}\")\n        lines.append(\"\")\n\n        # Metadata\
          \ table\n        lines.append(\"| Field | Value |\")\n        lines.append(\"\
          |-------|-------|\")\n        lines.append(f\"| Page | {c['page']} |\")\n\
          \        lines.append(f\"| Type | {c['image_type']} |\")\n        desc =\
          \ c[\"description\"].replace(\"\\n\", \" \").replace(\"|\", \"/\")\n   \
          \     lines.append(f\"| Description | {desc} |\")\n        if c[\"sentiment\"\
          ]:\n            lines.append(f\"| Sentiment | {c['sentiment']} |\")\n  \
          \      if c[\"tags\"]:\n            lines.append(f\"| Tags | {c['tags']}\
          \ |\")\n        lines.append(\"\")\n\n        # Extracted values\n     \
          \   if c[\"text_inside\"]:\n            lines.append(\"**Extracted values\
          \ from chart:**\")\n            lines.append(\"\")\n            lines.append(\"\
          | Raw text extracted |\")\n            lines.append(\"|--------------------|\"\
          )\n            for segment in c[\"text_inside\"].split(\" | \"):\n     \
          \           seg = segment.strip()\n                if seg:\n           \
          \         lines.append(f\"| {seg} |\")\n            lines.append(\"\")\n\
          \n        # Insights\n        if c[\"insights\"]:\n            lines.append(\"\
          **Key insights:**\")\n            lines.append(\"\")\n            lines.append(\"\
          | # | Insight |\")\n            lines.append(\"|---|---------|\")\n    \
          \        for j, ins in enumerate(c[\"insights\"], 1):\n                ins_clean\
          \ = ins.strip().replace(\"|\", \"/\")\n                lines.append(f\"\
          | {j} | {ins_clean} |\")\n            lines.append(\"\")\n\n        lines.append(\"\
          ---\")\n        lines.append(\"\")\n\n    return \"\\n\".join(lines)\n\n\
          def main(raw_text: str, input_files: list) -> dict:\n    # ── File names\
          \ ──────────────────────────────────────────\n    file_names = \"\"\n  \
          \  if input_files:\n        names = []\n        for f in input_files:\n\
          \            name = \"\"\n            if hasattr(f, \"filename\") and f.filename:\n\
          \                name = str(f.filename)\n            elif hasattr(f, \"\
          name\") and f.name:\n                name = str(f.name)\n            elif\
          \ isinstance(f, dict):\n                name = f.get(\"filename\") or f.get(\"\
          name\") or \"\"\n            names.append(name if name else \"uploaded_file\"\
          )\n        file_names = \", \".join(names)\n\n    # ── Unwrap OCR JSON envelope\
          \ ────────────────────────────\n    clean_text = \"\"\n    if raw_text:\n\
          \        raw = raw_text.strip()\n        try:\n            parsed = json.loads(raw)\n\
          \            if isinstance(parsed, dict) and \"result\" in parsed:\n   \
          \             clean_text = str(parsed[\"result\"])\n            else:\n\
          \                clean_text = json.dumps(parsed, ensure_ascii=False)\n \
          \       except (json.JSONDecodeError, ValueError):\n            clean_text\
          \ = raw\n\n    # ── Parse and build table ───────────────────────────────\n\
          \    charts = parse_charts(clean_text)\n    chart_count = str(len(charts))\n\
          \    tabular_output = build_table(charts)\n\n    return {\n        \"clean_text\"\
          :     clean_text,\n        \"file_names\":     file_names,\n        \"tabular_output\"\
          : tabular_output,\n        \"chart_count\":    chart_count,\n    }\n"
        code_language: python3
        desc: Unwrap the OCR tool's JSON-encoded text output and extract the plain
          OCR content string.
        outputs:
          chart_count:
            children: null
            type: string
          clean_text:
            children: null
            type: string
          file_names:
            children: null
            type: string
          tabular_output:
            children: null
            type: string
        selected: false
        title: OCR text extractor
        type: code
        variables:
        - value_selector:
          - '1778134599931'
          - text
          value_type: string
          variable: raw_text
        - value_selector:
          - node-start
          - input_file
          value_type: array[file]
          variable: input_files
      height: 114
      id: node-ocr-parser
      position:
        x: 1149
        y: 81.5
      positionAbsolute:
        x: 1149
        y: 81.5
      selected: false
      type: custom
      width: 244
    - data:
        desc: Render OCR-parsed chart data as structured markdown tables.
        selected: false
        template: '# Graph Extraction Report


          | Field | Value |

          |-------|-------|

          | Source file | {{file_names}} |

          | Charts found | {{chart_count}} |

          | Extraction method | OCR Summarizer (text + image analysis) |


          ---


          {{tabular_output}}


          ---


          *All data extracted directly from the uploaded file. No LLM alteration applied.*'
        title: Output template
        type: template-transform
        variables:
        - value_selector:
          - node-ocr-parser
          - file_names
          variable: file_names
        - value_selector:
          - node-ocr-parser
          - chart_count
          variable: chart_count
        - value_selector:
          - node-ocr-parser
          - tabular_output
          variable: tabular_output
      height: 98
      id: node-output-template
      position:
        x: 1488.7217639151463
        y: 81.54733627877897
      positionAbsolute:
        x: 1488.7217639151463
        y: 81.54733627877897
      selected: false
      type: custom
      width: 244
    - data:
        desc: Return the formatted graph extraction report.
        outputs:
        - name: report
          type: string
          value_selector:
          - node-output-template
          - output
          variable: result
        selected: false
        title: End
        type: end
      height: 134
      id: '1778134631040'
      position:
        x: 1830.6586618510987
        y: 81.54733627877897
      positionAbsolute:
        x: 1830.6586618510987
        y: 81.54733627877897
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -330.87507610465605
      y: 172.71702471451366
      zoom: 0.9249651765823904
